<header class="header">
    <a href="/" class="header_logo">NodeJS</a>

    <nav class="nav">
        <a href="/" class="nav-item">Home</a>
        <a href="/about" class="nav-item">About</a>
        <a href="/contact" class="nav-item">Contact</a>
    </nav>

    <div class="header_button">
        <button class="button">Sign In/Up</button>
    </div>
</header>