.main{ 
    margin: 20px 40px 5px 40px;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 60px 0;
}

.dashboards {
    display: flex;
    gap: 20px;
}

.error_message {
    color: var(--error-color);
    margin-bottom: 18px;
}
.error_message:empty { display: none; }

.dash_header {
    grid-area: header;
    align-self: center;
    text-wrap: nowrap;
}

.create_post_button {
    grid-area: button;
    justify-self: right;
    align-self: center;
}

.create_post_button button {
    font-size: 1.1rem;
    width: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

.create_post_button button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.dashboard h1 {
    font-size: 1.5rem;
}

.view_posts {
    flex: 1;
}

.my_posts {
    flex: 1;
}

.all_posts {
    flex: 1;
}

.no_permissions {
    background-image: linear-gradient(50deg, rgba(255, 238, 0, 0.1), rgba(255, 238, 0, 0.3));
    border: 1px solid rgba(255, 238, 0);
}

.no_partnership {
    background-image: linear-gradient(50deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.feature_block {
    grid-area: button;
    width: auto;
    justify-self: right;

    border-radius: 10px;

    font-size: 1.1rem;

    padding: 20px;
    
    display: flex;
    gap: 30px;
    align-items: center;
}

.feature_block h3{
    text-shadow: 0 4px 2px black;
    padding-bottom: 10px;
}

.inactive_button_group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-content: center;
}

.inactive_button {
    color:rgba(255, 255, 255, 0.5);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.inactive_button:hover { cursor: not-allowed; }

.popup_select {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.popup_section {
    display: grid;
    grid-template-columns: 2fr 3fr 1.25fr;
    gap: 15px;
    padding-bottom: 15px;
}

.popup_section input {
    text-align: right;
    padding-left: 2px;
}

.popup_section input[type=number]::-webkit-inner-spin-button, 
.popup_section input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.popup_section:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
}

.create_button {
    width: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

.create_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Post Container stuff */
.post_container {
    flex: 1;
    width: 100%;
    border: 1px solid white;
    border-radius: 15px;

    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: inset 0 0 10px rgb(255, 255, 255, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--post_padding);

    overflow-y: auto;
    /* scrollbar-color: white transparent; */
    /* scrollbar-width: thin; */
}

.no_posts {
    padding: 30% 0;
    font-size: 1.6rem;
    filter: drop-shadow(0 0 60px #ffffff);
}

.post_popup {
    width: 375px;
}

.post_popup p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.created {
    color: lightgray;
}

.button {
    width: auto;
    font-size: 1.1rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.delete_button {
    border: 1px solid rgb(217, 114, 115);
    transition: 0.1s;
}

.delete_button:hover {
    background-color: rgba(255, 255, 255, 0.13);
    color: rgb(217, 114, 115);
    transition: 0s;
}

.edit_button {
    border: 1px solid rgb(108, 180, 252);
    transition: 0.1s;
}

.edit_button:hover {
    background-color: rgba(255, 255, 255, 0.13);
    color: rgb(108, 180, 252);
    transition: 0s;
}

.button_group {
    display: flex;
    justify-content: space-between;
}