.main {
    background: linear-gradient(130deg, var(--primary-color) 40%, rgb(221, 6, 139) 60%);
    background-clip: text;
    color: transparent;
    align-self: center;
    text-align: center;
    font-size: 1.6rem;
}