.main{ 
    display: grid;
    grid-template-columns: 1fr 6fr;

    column-gap: 25px;
    row-gap: 40px;
}

.error_message {
    color: var(--error-color);
    margin-bottom: 18px;
}
.error_message:empty { display: none; }

.section {
    margin: 40px;
}

.popup_button {
    width: auto;
    padding: 10px;
    font-size: 1.1rem;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 12px;
}

.popup_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}