.aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    padding-top: 40px;    

    font-size: 1.8rem;

    /* border-right: 1px solid rgba(255, 255, 255, 0.253); */
}

.aside a {
    width: 70%;
}

.aside a:hover {
    text-decoration: underline;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.no_permissions {
    background-image: linear-gradient(50deg, rgba(255, 238, 0, 0.1), rgba(255, 238, 0, 0.3));
    border: 1px solid rgba(255, 238, 0);
    border-radius: 10px;;

    padding: 20px;
    margin: 20px;
}

.no_permissions div {
    color:rgba(255, 255, 255, 0.5);
}

.no_permissions h3{
    text-shadow: 0 4px 2px black;
    padding-bottom: 10px;
}

.no_permissions div:first-child {
    color: white;
    font-size: 1.1rem;
    padding-bottom: 2rem;
}

.no_permissions_links {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.no_permissions_links a {
    pointer-events: none;
}