.header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    height: 80px;

    padding: 0px 25px;

    background-color: #ffffff2c;
    border-bottom: 1px solid white;
    border-radius: 15px;
}

.nav {
    display: flex;
    gap: 1rem;
}